{% extends 'base.html.twig' %}

{% block title %}Modifier le livre{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier le livre</h1>

        {{ form_start(form) }}
        {{ form_end(form) }}


    </div>
{% endblock %}
